.tree(data-id=tree._id.toString(), class=treeHelper.getClass(tree.height), class=tree.isHealthy ? 'alive' : 'dead')
  h5.height= tree.height
  .chop(data-id=tree._id.toString(), class=treeHelper.getWood(tree.height)) CHOP
